{% extends 'base.html' %}

{% block name %}
Все статьи на сайте
{% endblock %}

{% block cont  %}
<div class="container">



<div class="grid">
    <h2>Опубликованные посты <a class="btn btn-success" href='/create-article' role="button">Создать</a></h2>

  </div>


</div>

    {% if articles|length > 0 %}

        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Автор: {{ el.author }}</b>  Дата: {{ el.date.date()}}</p>

            <a href="/posts/{{ el.id }}" class="btn btn-info">Читать полностью</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Ни одной статьи не найдено</p>
    {% endif %}

</div>

{% endblock %}