{% extends 'base.html' %}

{% block name %}
{{ article.title }}
{% endblock %}

{% block cont  %}
<div class="container">
    <h1>{{ article.title }}</h1>


    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date()}}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-warning">Изменить</a>
        <a href="/posts/{{ article.id }}/create-comment" class="btn btn-success">Коментировать</a>
    </div>

    </div>



       {% if comment|length > 0 %}
            {% for i in comment %}

                {% if i.art_id|string == article.id|string %}
                    <p>{{ i.text }}</p>

                {% endif %}
            {% endfor %}
       {% else %}
            <p>Коментариев еще нет</p>
       {% endif %}

    </div>




</div>

{% endblock %}